li {
    padding-bottom: .5em;
    font-size: 20px;
}

.recipe-steps .recipe-step {
    margin-bottom: 1.5em;
}

.recipe-steps .recipe-ingredients {
    list-style: disc;
    margin-left: 1.25em;
}

.recipe-steps .recipe-step-text p {
    margin-bottom: 0.5em;
}

.recipe-servings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.recipe-servings .input {
    width: 4.5em;
    text-align: center;
}
